<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flex Layouts</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&family=Alfa+Slab+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h2>Flex Layouts</h2>

    <a href="layouts/strech-all.html">Strech All</a>
    <a href="layouts/stretch-middle-fixed-spacing.html">Stretch Middle Fixed Spacing</a>

    <div class="strech-all-container">
      <h2>Strech All</h2>
      <div class="container">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
     </div> 

     <div class="stretch-middle-fixed-spacing">
      <h2>Stretch-middle-fixed-spacing</h2>
      <div class="container">
          <div class="item"></div>
          <div class="item item-center"></div>
          <div class="item"></div>
        </div>
     </div> 

     <div class="alternating-grid">
      <h2>alternating-grid</h2>
      <div class="container">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
     </div>

     <div class="three-by-three-grid">
      <h2>three-by-three-grid</h2>
      <div class="container">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
     </div>

     <div class="three-by-three-grid-constrained-proportions-1-1">
      <h2>three-by-three-grid-constrained-proportions</h2>
      <div class="container">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
     </div>

     <div class="three-by-three-grid-constrained-proportions-16-9">
      <h2>three-by-three-grid-constrained-proportions</h2>
      <div class="container">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
     </div>

     <div class="graph-vertical-bars">
      <h2>graph-vertical-bars</h2>
      <div class="container">
          <div class="item item-1"></div>
          <div class="item item-2"></div>
          <div class="item item-3"></div>
          <div class="item item-4"></div>
          <div class="item item-5"></div>
        </div>
     </div>

     <div class="vertical-stack-centered">
      <h2>vertical-stack-centered</h2>
      <div class="container">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
     </div>

     <div class="masonry">
      <h2>masonry</h2>
      <div class="container">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
     </div>

  </body>
</html>
